@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .gotop {
    @apply animate-[fadeside_.5s];
  }
}

@keyframes fadeLeft {
  0% {
    transform: translateX(60px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes fadeUp {
  0% {
    transform: translateY(60px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
